<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} - 寰宇</title>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'HYHR/content/bootstrap.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'HYHR/content/site.css' %}" />
    <link rel="stylesheet" type="text/css" href="/static/admin/css/base.css" /> 
    <link rel="stylesheet" type="text/css" href="/static/admin/css/forms.css" /> 
    <link rel="stylesheet" type="text/css" href="{% static 'HYHR/css/bootstrap.dropdown.hack.css'%}" />
    <script src="{% static 'HYHR/scripts/modernizr-2.6.2.js' %}"></script>
    
    <link rel="icon" href="{% static 'HYHR/img/favicon.ico' %}" mce_href="{% static 'HYHR/img/favicon.ico' %}" type="image/x-icon">
    <link rel="shortcut icon" href="{% static 'HYHR/img/favicon.ico' %}" mce_href="{% static 'HYHR/img/favicon.ico' %}" type="image/x-icon">

<style type="text/css">
        .navbar a{
            font-size: 120%;
        }
</style> 
</head>

<body>
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="/" class="navbar-brand"><span class="glyphicon glyphicon-home"></span> 寰宇汇众</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="{% url 'home' %}"><span class="glyphicon glyphicon-home"></span> 首页</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <span class="glyphicon glyphicon-shopping-cart">业务<b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="{% url 'sb:sb_index' %}"><span class="glyphicon glyphicon-info-sign" style="padding-right: 20%"></span>业务简介</a> </li>
                            <li><a href="{% url 'sb:sb_query' %}"><span class="glyphicon glyphicon-search" style="padding-right: 20%"></span>业务查询</a> </li>
                            
                            {% if user.is_authenticated and user.is_superuser %}
                            <!-- <li><a href="{% url 'sb:sb_todolist' %}"><span class="glyphicon glyphicon glyphicon-check" style="padding-right: 20%"></span>待办事宜</a> </li> -->
                            <li class="divider"></li>
                            <li><a href="{% url 'sb:sb_partnerbillcheck' %}"><span class="glyphicon glyphicon-cog" style="padding-right: 20%"></span>合伙人结账</a> </li>
                            <li class="offset-right dropdown">
                                    <a href="#" class="dropdown-toggle"><span class="glyphicon glyphicon-check" style="padding-right: 20%"></span>待办事宜<b class="caret"></b></a>
                                    <ul class="dropdown-menu">
                                        <li><a href="{% url 'sb:sb_todolist'%}">查看</a> </li>
                                        <li><a href="{% url 'sb:sb_todolist_add' %}">新增</a></li>
                                        
                                    </ul>
                            </li>
                            <li class="offset-right dropdown">
                                    <a href="#" class="dropdown-toggle"><span class="glyphicon glyphicon-heart-empty" style="padding-right: 20%"></span>社保<b class="caret"></b></a>
                                    <ul class="dropdown-menu">
                                        <li><a href="{% url 'sb:sb_add' 1 %}">新增</a> </li>
                                        <li><a href="{% url 'sb:sb_remove' 1 %}">减员</a></li>
                                        <li><a href="{% url 'sb:sb_billcheck' 1 %}">对账</a></li>
                                    </ul>
                                  </li>

                            <li class="offset-right dropdown">
                                    <a href="#" class="dropdown-toggle"><span class="glyphicon glyphicon-usd" style="padding-right: 20%"></span>公积金<b class="caret"></b></a>
                                    <ul class="dropdown-menu">
                                        <li><a href="{% url 'sb:sb_add' 2 %}">新增</a> </li>
                                        <li><a href="{% url 'sb:sb_remove' 2 %}">减员</a></li>
                                        <li><a href="{% url 'sb:sb_billcheck' 2 %}">对账</a></li>
                                    </ul>
                            </li>
                            {% endif %}
                        </ul>
                    </li>
                    <li><a href="{% url 'contact' %}"><span class="glyphicon glyphicon-phone-alt"></span>联系我们</a></li>
                    <li><a href="{% url 'about' %}"><span class="glyphicon glyphicon-tree-conifer"></span>关于我们</a></li>
                </ul>
                {% include 'HYHR/loginpartial.html' %}
            </div>
        </div>
    </nav>

    <div class="container body-content" style="margin:70px">    
        {% block content %}{% endblock %}
        <hr/>
        <footer>
            <p>&copy; {{ year }} - 寰宇</p>
        </footer>
    </div>

    <script src="{% static 'HYHR/scripts/jquery-1.10.2.js' %}"></script>
    <script src="{% static 'HYHR/scripts/bootstrap.js' %}"></script>
    <script src="{% static 'HYHR/scripts/respond.js' %}"></script>
{% block scripts %}{% endblock %}

</body>
</html>
