{% extends 'HYHR/layout.html' %}

{% block content %}
<h2>结账</h2>
<form class="form-horizontal" role="form" method="GET">
    {% if next %}
        <input type="hidden" name="next" value="{{ next }}">
    {% else %}
        <input type="hidden" name="next" value="/">
    {% endif %}
	<div class="form-group">
		<label for="name" class="col-sm-2 control-label">合伙人姓名：</label>
		<div class="col-sm-4">
			<input type="text" class="form-control" id="name" name="name" value="{{pname}}"
				   placeholder="请输入名字">
        </div>
	</div>
    {% if error %}
    <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10"> 
                <label style="color:red">{{error}}</label>
            </div>
        </div>
    {% endif %}
	<div class="form-group">
		<div class="col-sm-offset-1 col-sm-10">
			<button type="submit" class="btn btn-primary">查询</button>
		</div>
    </div>
</form>
{% if summary %}
<div class="form-group">
		<label class="col-sm-2 control-label">合计信息：</label>
		<div class="col-sm-4">
            <table class="table table-strip">
                <thead>
                    <tr>
                        <th>合伙人姓名</th>
                        <th>应付金额</th>
                    </tr>
                </thead>
                <tbody>
                    {% for s in summary %}
                        <tr>
                            <td>{{s.partner__name}}</td>
                            <td>{{s.sprice2Partner__sum}}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
			
        </div>
{% endif %}

{% if srecords %}
<form method="POST" action="." role="form">
        {% csrf_token %}
<div class="table-responsive">
    <table class="table table-hover">
        <thead>
            <tr>
                <th><input type="checkbox" id="checkall" name="checkall"/>已付款</th>
                <th>合伙人姓名</th>
                <th>客户姓名</th>
                <th>业务</th>
                <th>订单开始时间</th>
                <th>订单结束时间</th>
                <th>订单日期</th>
                <th>应付费用</th>
            </tr>
        </thead>
        <tbody>
            {% for record in srecords %}
                <tr>
                    <td><input type="checkbox"  name="subcheckboxes" value="{{record.id}}" class="subcheckbox"/></td>
                    <td>{{record.partner.name}}</td>
                    <td>{{record.customer.name}}</td>
                    <td>{{record.product.name}}</td>
                    <td>{{record.svalidFrom}}</td>
                    <td>{{record.svalidTo}}</td>
                    <td>{{record.orderDate}}</td>
                    <td>{{record.sprice2Partner}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="form-group">
            <div class="col-sm-2">
                <button type="submit" class="btn btn-primary">确定</button>
                <input type="hidden" id='partnerName' name='partnerName' value="{{pname}}"/>
            </div>
        </div>
</form>

{% endif %}
{% endblock %}

{% block scripts%}
<script type="text/javascript">

    $('#checkall').click(function(event) {   
        if(this.checked) {
            // Iterate each checkbox
            $(':checkbox').each(function() {
                this.checked = true;                        
            });
        } else {
            $(':checkbox').each(function() {
                this.checked = false;                       
            });
        }
    });
    
    $('.subcheckbox').click(function(event){
        
        if (this.checked){
            
            if ($('#checkall:checked').length==0){
                if ($('.subcheckbox:checked').length == $('.subcheckbox').length)
                {
                    $('#checkall').prop('checked', true);
                }
            }
        }
        else
        {   
            if($('#checkall:checked').length ==1){
                $('#checkall').prop('checked', false);
            }
        }
    });
    
    </script>
    
{%endblock%}