{% extends "HYHR/layout.html" %}

{% block content %}
<link rel="stylesheet" type="text/css" href="/static/admin/css/base.css" /> 
<link rel="stylesheet" type="text/css" href="/static/admin/css/forms.css" /> 
<script type="text/javascript" src="/admin/jsi18n/"></script>
<script type="text/javascript" src="/static/admin/js/core.js"></script>
<script type="text/javascript" src="/static/admin/js/vendor/jquery/jquery.js"></script>
<script type="text/javascript" src="/static/admin/js/jquery.init.js"></script>

<script type="text/javascript" src="/static/admin/js/calendar.js"></script>
<script type="text/javascript" src="/static/admin/js/admin/DateTimeShortcuts.js"></script>

<h2>{{title}}</h2>
<div class="container">
    {% if errors %}
            <p class="validation-summary-errors">Errors met during the Query, make sure you enter all the field correctly and try again.</p>
    {%endif%}
    <div class="row">
        <form action="." method="post" role="form" class="form-horizontal" style="margin-top:40px">
            {% csrf_token %}
            {% if next %}
                <input type="hidden" name="next" value="{{ next }}">
            {% else %}
                <input type="hidden" name="next" value="/">
            {% endif %}
            <div class="form-group">
                <div class="col-sm-offset-1 col-sm-10">
                    <h3>客户信息: </h3>                  
                </div>
                
                {% for cfield in customer_form %}
                    {% if cfield.errors %}
                        <div class="form-group has-error">
                                <label class="col-sm-2 control-label">{{ cfield.label }}</label>
                                <div class="col-sm-10">
                                    {{ cfield }}
                                    <label class="validation-summary-errors">
                                        {% for error in  cfield.errors %}{{ error }}{% endfor %}
                                    </label>
                                </div>
                            </div>
                    {%else%}
                        {% if forloop.counter|divisibleby:2 %}
                        <div class="form-group">
                        {%endif%}
                                <label class="col-sm-2 control-label" >{{cfield.label_tag}}</label>
                                <div class="col-sm-4">
                                    {{ cfield }}
                                    {% if cfield.field.required %}
                                    <label style="color: red">*</label>
                                    {% else %}
                                    <label></label>
                                    {% endif %}
                                    {% if  dup_pid_error  %}
                                        {% if cfield.name == 'pid'%}
                                        <label style="color: red">{{ dup_pid_error }}</label>
                                        {% endif %}
                                    {% endif %}
                                    {% if cfield.help_text %}
                                        <label class="help-tooltip"><small>{{ cfield.help_text }}</small></label>
                                    {% endif %}
                                </div>
                        {% if forloop.counter|divisibleby:2 %}
                        </div>
                        {%endif%}
                    {%endif%}

                {%endfor%}
            </div>
            <hr />
            <div class="form-group">
                <div class="col-sm-offset-1 col-sm-10">
                    <h3>业务信息: </h3>
                </div>
            
                {% for pfield in p_order_form %}
                    {% if pfield.errors %}
                        <div class="form-group has-error">
                                <label class="col-sm-2 control-label">{{ pfield.label }}</label>
                                <div class="col-sm-10">
                                    {{ pfield }}
                                    <label class="help-inline">
                                        {% for error in  pfield.errors %}{{ error }}{% endfor %}
                                    </label>
                                </div>
                            </div>
                    {%else%}
                        {% if forloop.counter|divisibleby:2 %}
                            <div class="form-group">
                        {%endif%}
                                <label class="col-sm-2 control-label" >{{pfield.label_tag}}</label>
                                <div class="col-sm-4">
                                    {{ pfield }}
                                    {% if pfield.field.required %}
                                    <label style="color: red">*</label>
                                    {% else %}
                                    <label></label>
                                    {% endif %}
                                    
                                    {% if pfield.name == 'product'  %}
                                        {% if pfield.value == 1 %}
                                            <input type="checkbox" name="chcbj" id='chcbj'/>
                                            <label id="lblcbj" name="lblcbj">收取残保金?</label>
                                            <input type="text" id= "txtcbj" name="txtcbj" hidden />
                                            {%endif%}

                                    {% endif %}
                                    {% if  dup_date_error  %}
                                        {% if pfield.name == 'validTo'%}
                                        <label style="color: red">{{ dup_date_error }}</label>
                                        {% endif %}
                                    {% endif %}
                                    {% if pfield.help_text %}
                                        <label class="help-inline"><small>{{ pfield.help_text }}</small></label>
                                    {% endif %}
                                </div>
                        {% if forloop.counter|divisibleby:2%}
                            </div>
                        {%endif%}
                    {%endif%}

                {%endfor%}
            </div>
            <hr />
            <br/>
    {% if s_order_form%}
    <div class="form-group">
        <div class="col-sm-offset-1 col-sm-10">
    <h3>新增服务费</h3>
            <label for="chkServiceFee">
                <input type="checkbox" name ="chkServiceFee" id="chkServiceFee" />
                暂不缴服务费
            </label>
        </div>
    </div>

            <div class="form-group" name="serivceFeeDiv" id="serivceFeeDiv">
                <div class="col-sm-offset-1 col-sm-10">
                    <h3>服务费信息: </h3>
                </div>
            
                {% for sfield in s_order_form %}
                    {% if sfield.errors %}
                        <div class="form-group has-error">
                                <label class="col-sm-2 control-label">{{ sfield.label }}</label>
                                <div class="col-sm-10">
                                    {{ sfield }}
                                    <label class="help-inline">
                                        {% for error in  sfield.errors %}{{ error }}{% endfor %}
                                    </label>
                                </div>
                            </div>
                    {%else%}
                        {% if forloop.counter|divisibleby:2 %}
                        <div class="form-group">
                        {%endif%}
                                <label class="col-sm-2 control-label" >{{sfield.label_tag}}</label>
                                <div class="col-sm-4">
                                    {{ sfield }}
                                    {% if sfield.field.required %}
                                    <label style="color: red">*</label>
                                    {% else %}
                                    <label></label>
                                    {% endif %}
                                    {% if  dup_date_error  %}
                                        {% if sfield.name == 'svalidTo'%}
                                        <label style="color: red">{{ dup_sdate_error }}</label>
                                        {% endif %}
                                    {% endif %}
                                    {% if sfield.help_text %}
                                        <label class="help-inline"><small>{{ sfield.help_text }}</small></label>
                                    {% endif %}
                                </div>
                            {% if forloop.counter|divisibleby:2 %}
                            </div>
                            {%endif%}
                    {%endif%}

                {%endfor%}
            </div>
    {%endif%}
            <div class="row">
                <div class="form-group">
                    <div class="col-sm-offset-1 col-sm-10">
                        <button type="submit" class="btn btn-primary">添加</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}


{% block scripts%}
<script type="text/javascript">
    $(document).ready(function () {
        $("#chcbj").click(function () {
            if ($(this).is(":checked")) {
                $("#lblcbj").text("残保金金额:");
                $("#txtcbj").show();
                $("#txtcbj").prop('disabled',false);
            } else {
                $("#lblcbj").text("收取残保金?");
                $("#txtcbj").hide();
                $("#txtcbj").prop('disabled',true);
            }
        });

        $("#chkServiceFee").click(function () {
            if ($(this).is(":checked")) {
                $("#serivceFeeDiv").hide();
                $("#serivceFeeDiv *").prop('disabled',true);
            } else {
                $("#serivceFeeDiv").show();
                $("#serivceFeeDiv *").prop('disabled',false);
            }
        });

        $("#id_product").change(function(){
            if($(this).val() != 1)
            {
                $("#chcbj").hide();
                $("#chcbj").prop('disabled', true);
                $("#lblcbj").hide();
                $("#lblcbj").prop('disabled', true);
            }
            else
            {
                $("#chcbj").show();
                $("#chcbj").prop('disabled', false);
                $("#lblcbj").show();
                $("#lblcbj").prop('disabled', false);
            }
        });
    });

</script>
{%endblock%}