{% extends 'HYHR/layout.html' %}

{% block content %}
<h2>{{title}}</h2>
<div class="row">
    <p class="col-sm-12" style="color: skyblue"><b>说明：此处包含上月正常缴纳，但是本月尚未缴纳的客户. 本月已经缴纳的，请在“业务查询”中查看.</b></p>
    <br>
    {% if message %}
    
    <p class="col-sm-4 success" >{{message}}</p>
    {% endif %}

    
{% if porders %}
<form action="." method="POST" role="form" class="form-horizontal">
        {% csrf_token %}
        <input type="hidden" id="page_count" name="page_count" />
        <input type="hidden" id="page_id" name="page_id" />
        <div class="col-sm-offset-11 col-sm-1">
                <a class="btn btn-info" href="/sb/pushclient/{{code}}/">微信催账</a>
        </div> 
</form>           
<div class="table-responsive">
<table class="table table-hover">
    <thead>
        <tr>
            <th>姓名</th>
            <th>身份证号</th>
            <th>手机号</th>
            <th>业务名称</th>
            <th>所在区县</th>
            <th>户口性质</th>
            <th>基数</th>   
            <th>状态</th>
            <th>续费</th>
        </tr>
    </thead>
    <tbody>
        {% for ord in porders %}
            <tr>
                <td>{{ord.customer.name}}</td>
                <td>{{ord.customer.pid}}</td>
                <td>{{ord.customer.phone}}</td>
                <td>{{ord.product.name}}</td>
                <td>{{ord.company.district.name}}</td>
                <td>{{ord.customer.get_hukou_display}}</td>
                <td>{{ord.product_base}}</td>        
                <td>{{ord.customer.status}}</td>
                <td><a href="/sb/reorder/{{ord.product.code}}/{{ord.customer.pid}}/">{{rst.product.name}}续费</a></td>
            </tr>
        {% endfor %}
    </tbody>
</table>
 <table>
     <tbody>
         <tr>
             <td style="width:5%">
                <select id="pagecount" onchange="pageCountChange()">
                    <option value="15">15</option>
                    <option value="30">30</option>
                    <option value="50">50</option>
                    <option value="100">100</option>
                </select>
             </td>
             <td style="width:80%; text-align:center">
                <span >
                    {% if porders.has_previous%}
                    <a href="#" onclick="navigatetopagewithQuery(1)"><span class="glyphicon glyphicon-fast-backward"></span></a>
                    <a href="#" onclick="navigatetopagewithQuery({{porders.previous_page_number}})"><span class="glyphicon glyphicon-backward"></span></a>
                    {% endif %}
                    <span>
                        第 {{porders.number}} / {{porders.paginator.num_pages}}页
                    </span>
    
                    {% if porders.has_next %}
                        <a href="#" onclick="navigatetopagewithQuery({{porders.next_page_number}})"><span class="glyphicon glyphicon-forward"></span></a>
                    <a href="#" onclick="navigatetopagewithQuery({{porders.paginator.num_pages}})"><span class="glyphicon glyphicon-fast-forward"></a>
                    {%endif%}
                    
                </span>
             </td>
             <td style="width:15%">
                <span >共 {{porders.paginator.count}} 项 </span><a class="btn btn-info" href="/sb/export/csv/billcheck">导出到CSV</a>
             </td>
         </tr>
     </tbody>
 </table>   
           
</div>
{% if output %}
<p>{{output}}</p>
{% endif %}
</div>
{% endif %}
{% endblock %}


{% block scripts%}

<script type="text/javascript">
$(document).ready(function () {
    $('#pagecount').val('{{pagecount}}');
    $('#pushclient').val('0');
    
});

function pageCountChange()
{
   $('#page_count').val($('#pagecount').val());
   $('form').submit();
}
function navigatetopagewithQuery(pageid)
{
    $('#page_id').val(pageid);
    $('#page_count').val($('#pagecount').val());
    $('form').submit();
}
</script>

{%endblock%}