{% extends "HYHR/layout.html" %}

{% block content %}
<!-- <link rel="stylesheet" type="text/css" href="/static/admin/css/base.css" /> 
<link rel="stylesheet" type="text/css" href="/static/admin/css/forms.css" />  -->
<script type="text/javascript" src="/admin/jsi18n/"></script>
<script type="text/javascript" src="/static/admin/js/core.js"></script>
<script type="text/javascript" src="/static/admin/js/vendor/jquery/jquery.js"></script>
<script type="text/javascript" src="/static/admin/js/jquery.init.js"></script>

<script type="text/javascript" src="/static/admin/js/calendar.js"></script>
<script type="text/javascript" src="/static/admin/js/admin/DateTimeShortcuts.js"></script>

<link rel="stylesheet" type="text/css" href="/static/HYHR/css/paginator.css" />

<h2> {{title}}</h2>

<div class="container">
    <div class="row">
        <form class="form-horizontal" role="form" action="." method="get">
            {% csrf_token %}
            {% if next %}
                <input type="hidden" name="next" value="{{ next }}">
            {% else %}
                <input type="hidden" name="next" value="/">
            {% endif %}

            <div class="form-group">
                <label for="name" class="col-sm-2 control-label">姓名: </label>
                <div class="col-sm-2">
                    {{form.name}}
                    {%for field in form%}{% if field.name == 'name' %}<label class="validation-summary-errors">{%for error in field.errors%}{{error}}{%endfor%}</label>{%endif%}{%endfor%}
                </div>

                <label for="pid" class="col-sm-2 control-label">身份证号: </label>
                <div class="col-sm-2">
                    {{form.pid}}                   
                    {%for field in form%}{% if field.name == 'pid' %}<label class="validation-summary-errors">{%for error in field.errors%}{{error}}{%endfor%}</label>{%endif%}{%endfor%}
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#extrainfo" style="margin-bottom:20px">
                        更多条件查询
                    </button>
                </div>
                <div>
                    <div id="extrainfo" class="collapse in">
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="dateFrom">开始日期: </label>
                            <div class="col-sm-2" >
                                {{form.dateFrom}} 
                                {%for field in form%}{% if field.name == 'dateFrom' %}<label class="validation-summary-errors">{%for error in field.errors%}{{error}}{%endfor%}</label>{%endif%}{%endfor%}
                            </div>

                            <label class="col-sm-2 control-label" for="dateTo">截至日期: </label>
                            <div class="col-sm-2">
                                {{form.dateTo}}
                                {%for field in form%}{% if field.name == 'dateTo' %}<label class="validation-summary-errors">{%for error in field.errors%}{{error}}{%endfor%}</label>{%endif%}{%endfor%}
                            </div>
                       </div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="button" class="btn btn-primary" onclick="navigatetopagewithQuery(1)">查询</button>
                    <input type="hidden" id="page_count" name="page_count" />
                    <input type="hidden" id="page_id" name="page_id" />
                    <input type="hidden" id="collapse" name="collapse" />
                </div>
            </div>
        </form>
    </div>

    <div class="row">
        <hr />
        {% if result %}
        <div class="table-responsive">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>姓名</th>
                    <th>身份证号</th>
                    <th>手机号</th>
                    <th>业务名称</th>
                    <th>所在区县</th>
                    <th>户口性质</th>
                    <th>基数</th> 
                    <th>总价</th>
                    <th>开始日期</th>
                    <th>截至日期</th>
                    <th>订单日期</th>   
                    <th>状态</th>
                    <th>续费</th>
                </tr>
            </thead>
            <tbody>
                {% for rst in result %}
                    <tr>
                        <td>{{rst.customer.name}}</td>
                        <td>{{rst.customer.pid}}</td>
                        <td>{{rst.customer.phone}}</td>
                        <td>{{rst.product.name}}</td>
                        <td>{{rst.district.name}}</td>
                        <td>{{rst.customer.get_hukou_display}}</td>
                        <td>{{rst.product_base}}</td>        
                        <td>{{rst.total_price}}</td>
                        <td>{{rst.validFrom.year}}-{{rst.validFrom.month|stringformat:"02d"}}-{{rst.validFrom.day|stringformat:"02d"}}</td>
                        <td>{{rst.validTo.year}}-{{rst.validTo.month|stringformat:"02d"}}-{{rst.validTo.day|stringformat:"02d"}}</td>
                        <td>{{rst.orderDate}}</td>   
                        <td>{{rst.customer.status}}</td>
                        <td><a href="/sb/reorder/{{rst.product.code}}/{{rst.customer.pid}}/">{{rst.product.name}}续费</a><span>/</span><a href="/sb/remove/{{rst.product.code}}/{{rst.customer.pid}}">减员</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
         <table>
             <tbody>
                 <tr>
                     <td style="width:5%">
                        <select id="pagecount" onchange="pageCountChange()">
                            <option value="30">30</option>
                            <option value="50">50</option>
                            <option value="100">100</option>
                        </select>
                     </td>
                     <td style="width:85%; text-align:center">
                        <span >
                            {% if result.has_previous%}
                            <a href="#" onclick="navigatetopagewithQuery(1)"><span class="glyphicon glyphicon-fast-backward"></span></a>
                            <a href="#" onclick="navigatetopagewithQuery({{result.previous_page_number}})"><span class="glyphicon glyphicon-backward"></span></a>
                            {% endif %}
                            <span>
                                第 {{result.number}} / {{result.paginator.num_pages}}页
                            </span>
            
                            {% if result.has_next %}
                                <a href="#" onclick="navigatetopagewithQuery({{result.next_page_number}})"><span class="glyphicon glyphicon-forward"></span></a>
                            <a href="#" onclick="navigatetopagewithQuery({{result.paginator.num_pages}})"><span class="glyphicon glyphicon-fast-forward"></a>
                            {%endif%}
                            
                        </span>
                     </td>
                     <td style="width:10%">
                        <span >共 {{result.paginator.count}} 项</span>
                     </td>
                 </tr>
             </tbody>
         </table>                  
        </div>
        {%else%}
        {% if form.errors %}
            <p class="validation-summary-errors">Errors met during the Query, make sure you enter all the field correctly and try again.</p>
        {%else%}
            <p>No result found.</p>
        {% endif %}
        
        {%endif%}
        
    </div>
</div>
{% endblock %}
{% block scripts%}

<script type="text/javascript">
$(document).ready(function () {
    $('#pagecount').val('{{pagecount}}');
    $('#collapse').val('{{collapse}}');
    if ('{{collapse}}'=='0')
    {
        $('#extrainfo').collapse('show');
    }
    else
    {
        $('#extrainfo').collapse('hide');
    }
    $('#extrainfo').on('show.bs.collapse', function(){
        $('#collapse').val('0');
    });
    $('#extrainfo').on('hide.bs.collapse', function(){
        $('#collapse').val('1');
    });
});

function pageCountChange()
{
   $('#page_count').val($('#pagecount').val());
   $('form').submit();
}
function navigatetopagewithQuery(pageid)
{
    $('#page_id').val(pageid);
    $('#page_count').val($('#pagecount').val());
    $('form').submit();
}
</script>

{%endblock%}