{% extends "HYHR/layout.html" %}

{% block content %}
<link rel="stylesheet" type="text/css" href="/static/admin/css/base.css" /> 
<link rel="stylesheet" type="text/css" href="/static/admin/css/forms.css" /> 
<script type="text/javascript" src="/admin/jsi18n/"></script>
<script type="text/javascript" src="/static/admin/js/core.js"></script>
<script type="text/javascript" src="/static/admin/js/vendor/jquery/jquery.js"></script>
<script type="text/javascript" src="/static/admin/js/jquery.init.js"></script>

<script type="text/javascript" src="/static/admin/js/calendar.js"></script>
<script type="text/javascript" src="/static/admin/js/admin/DateTimeShortcuts.js"></script>

<h2>{{title}}</h2>
<form action="." method="post" role="form" class="form-horizontal" style="margin-top:40px">
    {% csrf_token %}

        <div class="form-group">
        <div class="col-sm-offset-1 col-sm-10">
            <h4>Order for: {{customer}} </h4>
            <hr />
        </div>
    </div>
{% for ofield in p_order_form %}
    {% if ofield.errors %}
        <div class="form-group has-error">
                <label class="col-sm-2 control-label">{{ ofield.label }}</label>
                <div class="col-sm-10">
                    {{ ofield }}
                    <label class="help-inline">
                        {% for error in  ofield.errors %}{{ error }}{% endfor %}
                    </label>
                </div>
            </div>
    {%else%}
        <div class="form-group">
                <label class="col-sm-2 control-label" >{{ofield.label_tag}}</label>
                <div class="col-sm-10">
                    {{ ofield }}
                    {% if ofield.field.required %}
                    <label style="color: red">*</label>
                    {% else %}
                    <label></label>
                    {% endif %}
                    {% if ofield.help_text %}
                        <label class="help-inline"><small>{{ ofield.help_text }}</small></label>
                    {% endif %}
                </div>
            </div>
    {%endif%}

{%endfor%}
<hr />
{% if s_order_form%}
{% for sfield in s_order_form %}
    {% if sfield.errors %}
        <div class="form-group has-error">
                <label class="col-sm-2 control-label">{{ sfield.label }}</label>
                <div class="col-sm-10">
                    {{ sfield }}
                    <label class="help-inline">
                        {% for error in  sfield.errors %}{{ error }}{% endfor %}
                    </label>
                </div>
            </div>
    {%else%}
        <div class="form-group">
                <label class="col-sm-2 control-label" >{{sfield.label_tag}}</label>
                <div class="col-sm-10">
                    {{ sfield }}
                    {% if sfield.field.required %}
                    <label style="color: red">*</label>
                    {% else %}
                    <label></label>
                    {% endif %}
                    {% if sfield.help_text %}
                        <label class="help-inline"><small>{{ sfield.help_text }}</small></label>
                    {% endif %}
                </div>
            </div>
    {%endif%}

{%endfor%}
{%endif%}
    <div class="form-group">
        <div class="col-sm-offset-1 col-sm-10">
            <button type="submit" class="btn btn-primary">Add</button>
        </div>
    </div>
</form>

{% endblock %}