{% extends "HYHR/layout.html" %}

{% block content %}
<link rel="stylesheet" type="text/css" href="/static/admin/css/base.css" /> 
<link rel="stylesheet" type="text/css" href="/static/admin/css/forms.css" /> 
<script type="text/javascript" src="/admin/jsi18n/"></script>
<script type="text/javascript" src="/static/admin/js/core.js"></script>
<script type="text/javascript" src="/static/admin/js/vendor/jquery/jquery.js"></script>
<script type="text/javascript" src="/static/admin/js/jquery.init.js"></script>

<script type="text/javascript" src="/static/admin/js/calendar.js"></script>
<script type="text/javascript" src="/static/admin/js/admin/DateTimeShortcuts.js"></script>

<h2 >{{title}}</h2>
<form action="." method="POST" role="form" class="form-horizontal" style="margin-top:40px">
    {% csrf_token %}

        <div class="form-group">
        <div class="col-sm-offset-1 col-sm-10">
            <h3>{{customer}} </h3>
            <hr />
        </div>
    </div>
{% for ofield in p_order_form %}
    {% if ofield.errors %}
        <div class="form-group has-error">
                <label class="col-sm-2 control-label">{{ ofield.label }}</label>
                <div class="col-sm-10">
                    {{ ofield }}
                    <label class="help-inline">
                        {% for error in  ofield.errors %}{{ error }}{% endfor %}
                    </label>
                </div>
            </div>
    {%else%}
    {% if forloop.counter|divisibleby:2 %}
        <div class="form-group">
    {%endif%}
                <label class="col-sm-2 control-label" >{{ofield.label_tag}}</label>
                <div class="col-sm-4">
                    {{ ofield }}
                    {% if ofield.field.required %}
                    <label style="color: red">*</label>
                    {% else %}
                    <label></label>
                    {% endif %}
                    {% if ofield.help_text %}
                        <label class="help-inline"><small>{{ ofield.help_text }}</small></label>
                    {% endif %}
                </div>
            {% if forloop.counter|divisibleby:2 %}
            </div>
            {%endif%}
    {%endif%}

{%endfor%}
<br/>
<hr />
<br/>
{% if s_order_form%}
<div class="form-group">
    <div class="col-sm-offset-1 col-sm-10">
<h3>服务费续费</h3>
{% if latestsvcRec %}
<h4 style="color:skyblue">注意：客户{{latestsvcRec.customer.name}}服务费已交至 {{latestsvcRec.svalidTo}}</h4>
{%endif%}
{% if dateValidError %}
<h4 style="color:red">{{dateValidError}}</h4>
{%endif%}

<label for="chkServiceFee">
    <input type="checkbox" name ="chkServiceFee" id="chkServiceFee" />
    暂不缴服务费
</label>
</div>
</div>

<br/>
<div id="serivceFeeDiv">
{% for sfield in s_order_form %}
    {% if sfield.errors %}
        <div class="form-group has-error">
                <label class="col-sm-2 control-label">{{ sfield.label }}</label>
                <div class="col-sm-10">
                    {{ sfield }}
                    <label class="help-inline">
                        {% for error in  sfield.errors %}{{ error }}{% endfor %}
                    </label>
                </div>
            </div>
    {%else%}
    {% if forloop.counter|divisibleby:2 %}
        <div class="form-group">
            {%endif%}
                <label class="col-sm-2 control-label" >{{sfield.label_tag}}</label>
                <div class="col-sm-4">
                    {{ sfield }}
                    {% if sfield.field.required %}
                    <label style="color: red">*</label>
                    {% else %}
                    <label></label>
                    {% endif %}
                    {% if sfield.help_text %}
                        <label class="help-inline"><small>{{ sfield.help_text }}</small></label>
                    {% endif %}
                </div>
                {% if forloop.counter|divisibleby:2 %}
            </div>
            {%endif%}
    {%endif%}
{%endfor%}
</div>
{%endif%}

    <div class="form-group">
        <div class="col-sm-offset-1 col-sm-10">
            <button type="submit" class="btn btn-primary">添加</button>
        </div>
    </div>
</form>

{% endblock %}

{% block scripts %}

<script type="text/javascript">
    $(function () {
        $("#chkServiceFee").click(function () {
            if ($(this).is(":checked")) {
                $("#serivceFeeDiv").hide();
                $("#serivceFeeDiv *").prop('disabled',true);
            } else {
                $("#serivceFeeDiv").show();
                $("#serivceFeeDiv *").prop('disabled',false);
            }
        });
    });
    $(document).ready(function(){
        if ('{{chkServiceFee}}' == '1')
        {
            $("#chkServiceFee").prop('checked',false);
            $("#chkServiceFee").click()
        }

    });

</script>

{% endblock %}