{% extends 'HYHR/layout.html' %}

{% block content %}
<h2>待办事宜</h2>

{% if alldone %}
<div class="col-sm-10">
        
    <label style="color:skyblue">{{alldone}}</label>
        
</div>
{% endif %}
{% if todos %}
<form method="POST" action="." role="form">
        {% csrf_token %}
<div class="table-responsive">
    <table class="table table-hover">
        <thead>
            <tr>
                <th><input type="checkbox" id="checkall" name="checkall"/>完成</th>
                <th>事宜</th>
            </tr>
        </thead>
        <tbody>
            {% for todo in todos %}
                <tr>
                    <td><input type="checkbox" id="subcheckbox{{todo.id}}" name="subcheckboxes" value="{{todo.id}}" class="subcheckbox"/></td>
                    <td>{{todo.info}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="form-group">
            <div class="col-sm-offset-10 col-sm-2">
                <button type="submit" class="btn btn-primary">确定</button>
            </div>
        </div>
</form>
{% endif %}
{% endblock %}
{% block scripts%}

<script type="text/javascript">

$('#checkall').click(function(event) {   
    if(this.checked) {
        // Iterate each checkbox
        $(':checkbox').each(function() {
            this.checked = true;                        
        });
    } else {
        $(':checkbox').each(function() {
            this.checked = false;                       
        });
    }
});

$('.subcheckbox').click(function(event){
    
    if (this.checked){
        
        if ($('#checkall:checked').length==0){
            if ($('.subcheckbox:checked').length == $('.subcheckbox').length)
            {
                $('#checkall').prop('checked', true);
            }
        }
    }
    else
    {   
        if($('#checkall:checked').length ==1){
            $('#checkall').prop('checked', false);
        }
    }
});

</script>

{%endblock%}