{% extends 'HYHR/layout.html' %}

{% block content %}
<h2>{{title}}</h2>

{% if confirm %}
<form class="form-horizontal" role="form" method="POST" id="getfrdsform">
    {% csrf_token %}
    <div class="col-sm-10">

        <button id="getfrdsbtn" type="submit" class="btn btn-primary">获取朋友列表</button>
        <input type="hidden" id='getFriends' name="getFriends" />
    </div>
</form>
{% endif %}

{% if getQRCode %}
<form class="form-horizontal" role="form" method="POST" id="getQRform">
    {% csrf_token %}
    <div class="col-sm-10">
        <p style="color:skyblue">注意： <br>
            1. 扫描二维码登录后，有时候微信登录会比较慢，请耐心等候。如果一分钟还没有登录成功，请刷新重试。<br/>
            2. 由于微信对发送频率的限制，此处对发送速度做了限制。每发送一次消息后，随机等待0-3秒发送下一个消息,所以发送时间会比较长。<br/>
            3. 由于微信对发送数量的限制，尽量一次不要发送超过100个好友， 否则可能导致部分好友发送失败。</p>
    </div>
    <div class="col-sm-10">
        <button id="getQRbtn" type="button" class="btn btn-primary">获取微信登陆二维码</button>
        <input type="hidden" id="getQR" name="getQR" />
    </div>
            
</form>
{% else %}
    {% if QR %}
        
        <label class="col-sm-2 control-label">扫描以下二维码登录微信</label>
        <br/>
        {% load static %}
        <img  style="width: 200px; height: 200px;" src="{% static QR %}" />
        <form class="form-horizontal" role="form" method="POST" id="getfrdsform">
            {% csrf_token %}
            <div class="col-sm-10">
                <button id="getfrdsbtn" type="submit" class="btn btn-primary">获取朋友列表</button>
                <input type="hidden" id='getFriends' name="getFriends" />
            </div>
        </form>
    {%else%}
        {% if Friends %}
            <form class="form-horizontal" role="form" method="POST" id="sendmsgform">
                {% csrf_token %}
                <div class="col-sm-10">
                    <label class="control-label">填写需要发送给客户的信息：</label>
                </div>
                <div class="col-sm-10">
                    <textarea class="col-sm-10" name=message id=message rows="5" placeholder="寰宇向你致以亲切问候."></textarea>
                </div>
            
                <div class="col-sm-10">
                    <button id="sendmsgbtn" type="button" class="btn btn-primary">发送</button>
                    <input type="hidden" name="sendmsg" />
                </div>
                {% if Friends %}
                    <div class="col-sm-10">
                            <label class="control-label">选择要发送消息的朋友：(<span id="selectedCount">0</span>/{{Friends|length}})</label>
                    </div>
                    
                    <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th><input type="checkbox" id="checkall" name="checkall"/>发送</th>
                                        <th>姓名</th>
                                        <th>发送状态</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for f in Friends %}
                                        <tr>
                                            <td><input type="checkbox" name="subcheckboxes" value="{{f}}" class="subcheckbox"/></td>
                                            <td>{{f}}</td>
                                            <td><span id='sendStatus'></span></td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                {%endif%}
            </form>
        {% endif %}
    {% endif %}
{% endif %}

{% if errormsg %}
<div class="col-sm-10">
    <label style="color: red"> {{errormsg}}</label>
</div>
{% endif %}

{% if result %}
<div class="table-responsive">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>姓名</th>
                    <th>发送状态</th>
                </tr>
            </thead>
            <tbody>
                {% for k, v in result.items %}
                <tr>
                    <td>{{k}}</td>
                    <td>{% if v == True %}<span class="glyphicon glyphicon-ok"></span>{%else%} <span class="glyphicon glyphicon-remove"></span>{%endif%}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
</div>
{% endif %}
<link rel="stylesheet" type="text/css" href="{% static 'HYHR/css/loading.css'%}" />
<div id="over" class="over"></div>
<div id="layout" class="layout"><img src="{% static 'HYHR/img/loading.gif' %}" /></div>
{% endblock %}


{% block scripts%}

<script type="text/javascript">
    $('#getQRbtn').click(function(){
       
        $('#over').show();
        $('#layout').show();
        $('#getQRform').submit()
    });

    $('#getfrdsbtn').click(function(){
       
       $('#over').show();
       $('#layout').show();
       $('#getfrdsform').submit()
   });

       $('#sendmsgbtn').click(function(){
        if ($('.subcheckbox:checked').length ==0){
            alert('没选要发送消息的朋友.')
        }
        else
        {
            $('#over').show();
            $('#layout').show();
            $('#sendmsgform').submit()
        }
   });

    $('#checkall').click(function(event) {   
        if(this.checked) {
            // Iterate each checkbox
            $(':checkbox').each(function() {
                this.checked = true;                        
            });
            $('#selectedCount').text($('.subcheckbox:checked').length)
        } else {
            $(':checkbox').each(function() {
                this.checked = false;                       
            });
            $('#selectedCount').text(0)
        }
    });
    
    $('.subcheckbox').click(function(event){
        
        if (this.checked){
            
            if ($('#checkall:checked').length==0){
                if ($('.subcheckbox:checked').length == $('.subcheckbox').length)
                {
                    $('#checkall').prop('checked', true);
                }
            }
        }
        else
        {   
            if($('#checkall:checked').length ==1){
                $('#checkall').prop('checked', false);
            }
        }
        $('#selectedCount').text($('.subcheckbox:checked').length)
    });
</script>
{% endblock %}